@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

input{
    font: inherit;
    padding: 0.2em 0.5em;
}
body{
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
}
#container {
    display: none;
    img {
        margin-top: 5px;
        border: solid black;
        border-radius: 10px;
    }

    border: solid black;
    border-radius: 15px;
    width: 80%;

    div {
        display: block;
    }
    button{
        position: absolute;
        left: 80%;
        top: 50px;
    }
}

* {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}